[Unit]
Description=AMD RAS Manager
After=multi-user.target

[Service]
Restart=always
ExecStartPre=mkdir -p /var/lib/bmc-ras
ExecStart=/usr/bin/amd-ras-manager %i

[Install]
WantedBy=multi-user.target