[Unit]
Description=Crash dump manager
After=xyz.openbmc_project.Chassis.Control.Power.service

[Service]
ExecStart=/usr/bin/amd-ras
SyslogIdentifier=amd-ras
Type=dbus
BusName=com.amd.crashdump
Restart=always
TimeoutStartSec=infinity
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
