[Unit]
Description=Crash dump manager
After=xyz.openbmc_project.Chassis.Control.Power.service

[Service]
Restart=always
ExecStart=/usr/bin/amd-bmc-ras
Type=dbus

[Install]
WantedBy=multi-user.target
